<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Satellite Positions</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!--<link rel="stylesheet" href="style.css"> -->
      
      </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <strong class="greenblue"> 
     <a class="navbar navbar-brand a"  href="index.html">Satellite Positions</a>
   </strong>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
   
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
       <ul class="navbar-nav mr-auto">
         <li class="nav-item active">
           
         </li>
         <li class="nav-item">
           
         </li>
         <li class="nav-item dropdown">
           
         </li>
         <li class="nav-item">
           
         </li>
       </ul>
    
       <ul class="navbar-nav nav justify-content-end">
         <li class="nav-item dropdown">
             <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <strong> Main page</strong>
             </a>
             <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
               <a class="dropdown-item" href="visualization_max_temperature.html">Max Temperature</a>
               <a class="dropdown-item" href="visualization_humidity.html">Humidity</a>
               <a class="dropdown-item" href="visualization_cloudiness.html">Cloudiness</a>
               <a class="dropdown-item" href="visualization_wind_speed.html">Wind Speed</a>
             </div>
           </li>
         <li class="nav-item">
           <strong>
           <a class="nav-link" href="comparison.html">Sat Position</a>
         </strong>
         </li>
         <li class="nav-item">
           <strong>
           <a class="nav-link" href="data.html">Heat Map</a>
         </strong>
         </li>
         <li class="nav-item">
          <strong>
          <a class="nav-link" href="data.html">Charts</a>
        </strong>
        </li>                
       </ul>
     </div>
   </nav>  
      <!-- First of two columns -->
 
        <h5>Select the country:</h5>
        <select id="selDatasetCnt" onchange="location = '/getSatellite/'+this.options[this.selectedIndex].value;">
          {% for cnt in country %}
          <option value={{ cnt.country_code  }}>{{ cnt.country  }}</option>
          {% endfor %}
      </select><br>
      <h5>Select the category:</h5>
        <select id="selDatasetCat" onchange="optionCatChanged(this.value)">
          {% for cate in category %}
          <option value={{ cate.category  }}>{{ cate.category  }}</option>
          {% endfor %}
      </select><br>
             <!--
               <div class="col-md-12">
          <select id="selDataset" onchange="optionChanged(this.value)"></select>


        <ul style="list-style: none;">
          {% for cnt in country %}
          var selOpt = inputElement.append("option");
          selOpt.attr("value",inputnameData[j]);
          selOpt.text(inputnameData[j]);
            console.log(inputnameData[j]);
            <li>{{ team.fruit }}: {{ team.cost  }} and revenue {{ team.revenue  }} </li>
          {% endfor %}
        </ul>
        <ul style="list-style: none;">
          {% for team in teams %}
            <li>{{ team.player }}: {{ team.position }}</li>
          {% endfor %}
        </ul>
        </div>
        -->    
  <br><br><br><br>
  
  <div id="map"></div>
  
  <script>
    var testVal = '';
    testVal = '{{ testVal | tojson | safe}}';
    var resdata = '';
    resdata ='{{ resdata | tojson }}';
  </script>
  <!-- D3 JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.3/d3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>



  <script type="text/javascript" src="{{url_for('static', filename='/config.js') }}"></script>
 
  <!-- Leaflet JavaScript 
     <script type="text/javascript" src="{{url_for('static', filename='/plot.js') }}"></script>
  -->

</body>

</html>
